@charset "UTF-8"; 

body {
  background-color: gray;
}
 
#wrap {
  width: 960px;
  margin: auto;
  background-color: white;
}
 
header   {
  padding: 40px;
  height: 80px;
}
 
nav {
  padding: 8px 40px;
  background-color: black;
  color: white;
  font-family: 'Noto Serif JP', serif;
}
 
main{
  padding: 40px;
  height : 400px;
}
 
footer   {
  padding: 40px;
  height: 40px;
  background-color : black;
  color: white;
}
main p {
  font-size: 20px;
  font-weight: bold;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  text-align: center;
}